@import url("./iranyekanFont.css");
@import url("./vazirFont.css");

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "iranyekan", "Vazirmatn";
}

/* Variables */
:root {
  /* Colors */
  --color-secondary-900: rgb(17, 24, 39);
  --color-secondary-800: rgb(31, 41, 55);
  --color-secondary-700: rgb(55, 65, 81);
  --color-secondary-600: rgb(75, 85, 99);
  --color-secondary-500: rgb(107, 114, 128);
  --color-secondary-400: rgb(156, 163, 175);
  --color-secondary-300: rgb(209, 213, 219);
  --color-secondary-200: rgb(229, 231, 235);
  --color-secondary-100: rgb(243, 244, 246);
  --color-secondary-50: rgb(249, 250, 251);
  --color-secondary-0: rgb(255, 255, 255);

  --color-primary-900: rgb(77, 112, 255);
  --color-primary-800: rgb(92, 124, 255);
  --color-primary-700: rgb(92, 124, 255);
  --color-primary-600: rgb(128, 153, 255);
  --color-primary-500: rgb(146, 167, 255);
  --color-primary-400: rgb(164, 182, 255);
  --color-primary-300: rgb(183, 197, 255);
  --color-primary-200: rgb(201, 211, 255);
  --color-primary-100: rgb(219, 226, 255);
  --color-primary-50: rgb(228, 233, 255);

  /* Border radius */
  --border-radius-tiny: 3px;
  --border-radius-sm: 5px;
  --border-radius-md: 7px;
  --border-radius-lg: 9px;

  --color-success: rgb(0, 192, 115);
  --color-warning: rgb(255, 153, 0);
  --color-error: rgb(255, 71, 87);
  --color-red-700: rgb(185, 28, 28);
  --color-red-800: rgb(153, 27, 27);
  --color-red-500: rgb(239, 68, 68);
  --color-red-300: rgb(252, 165, 165);
  --color-red-100: rgb(254, 226, 226);
}

/* Basic */
body {
  background-color: var(--color-secondary-100);
}

html {
  font-size: 62.5%;
}

input,
button {
  border: none;
  outline: none;
}

h2 {
  color: var(--color-secondary-400);
  font-weight: 800;
  font-size: 1.8rem;
}

/* Ready classes */
/* Btns */
.btn {
  padding: 20px;
  font-size: 1.8rem;
  font-weight: 800;
  border-radius: 20px;
  cursor: pointer;
}
.btn--primary {
  background-color: rgba(0, 155, 175, 1);
  color: var(--color-secondary-0);
}
.btn--secondary {
  background-color: var(--color-secondary-300);
  color: var(--color-secondary-600);
}

/* status */
.status--success {
  color: var(--color-success);
}
.status--red {
  color: var(--color-error);
}

/* active */
.active {
  transition: all ease-in-out 0.5s;
  transform: rotate(180deg);
}

/* Start project */
#transactions {
  display: flex;
  flex-direction: column;
  max-width: 1153px;
  margin: 70px auto;
  padding-left: 12px;
  padding-right: 12px;
}

/* Transactions header */
.transactions__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 2rem;
}

.header__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2rem;
  width: 100%;
}

.transactions__update {
  cursor: pointer;
  border-radius: var(--border-radius-lg);
  padding: 12px;
  font-size: 1.2rem;
}

.transactions__search-container {
  background-color: var(--color-secondary-0);
  border: 1px solid var(--color-secondary-200);
  border-radius: 12px;
  padding: 10px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.transactions__search-container,
.search__input {
  width: 100%;
}

.search__input {
  font-size: 13px;
  color: var(--color-secondary-500);
  font-weight: 500;
}
.search__input::placeholder {
  color: var(--color-secondary-300);
}

.search__icon .icon {
  width: 20.72px;
  height: 20.72px;
  vertical-align: middle;
}

/* Transactions content */
.transactions__content {
  text-align: center;
  width: 100%;
}

/* Transactions action button */
.transactions__action-btn {
  margin-top: 150px;
  width: 100%;
}

/* Transactions information */
.transactions__info {
  margin-top: 30px;
  background-color: var(--color-secondary-0);
  border: 1px solid var(--color-secondary-200);
  border-radius: var(--border-radius-md);
  box-shadow: 0px 9px 12px 0px rgba(0, 0, 0, 0.05);
  padding: 20px 15px 50px;
  overflow-x: hidden;
}

.info__title {
  color: var(--color-secondary-400);
  font-size: 1.4rem;
  text-align: right;
}

.info__table-container {
  margin-top: 24px;
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--color-secondary-100);
  overflow-x: auto;
}

.info__table {
  width: 100%;
  min-width: 610px;
  overflow-x: auto;
  border-collapse: collapse;
  text-align: center;
  font-weight: 600;
}

.info__table thead {
  width: 100%;
  height: 48px;
  background-color: var(--color-secondary-100);
  padding: 10px 15px;
  color: var(--color-secondary-400);
}

.info__table thead .icon {
  width: 13px;
  height: 5px;
}

.info__table thead,
.info__table tbody {
  font-size: 1.2rem;
}

.info__table tbody tr {
  height: 50px;
  border-bottom: 1px solid var(--color-secondary-100);
}

.info__table tbody {
  color: var(--color-secondary-500);
}

.info__table tbody .price {
  color: var(--color-secondary-900);
}

/* Media queries */
/* Responsive for small devices */
@media screen and (min-width: 420px) {
  .transactions__action-btn {
    max-width: 320px;
  }
}

/* Responsive for medium devices */
@media screen and (min-width: 640px) {
  .transactions__header {
    flex-wrap: nowrap;
    column-gap: 1rem;
  }
  .header__group {
    justify-content: unset;
    column-gap: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  h2 {
    font-size: 2rem;
  }
  .header__group {
    column-gap: 2rem;
  }
  .transactions__info {
    padding: 33px 30px 90px;
  }
}

/* Responsive for large Devices */
@media screen and (min-width: 1280px) {
  .transactions__update {
    padding: 12px 19px;
    font-size: 1.4rem;
  }
  .transactions__search-container {
    max-width: 505px;
  }
}

/* The end of Project */
